@use '/src/variables.scss' as vars;
.errorContainer {
    margin-top: 60px;
    padding: 20px 30px;
    width: 40vw;
    min-width: 280px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include vars.shadows($pixels: 3px);

    .messageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 20px;

        h2 {
            text-align: center;
        }
        .errorIcon {
            position: absolute;
            bottom: -100px;
            left: 20%;
        }
        .pageReload {
            background-color: transparent;
            position: absolute;
            bottom: -100px;
            right: 20%;
            padding: 0;
            width: 60px;
            height: 60px;
            .reloadIcon {
                fill: vars.$baseColor;
                transition: fill 150ms ease-in-out;
                &:hover,
                &:focus {
                    fill: vars.$baseHoverColor;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .errorContainer {
        .messageContainer {
            .errorIcon {
                top: calc(50% - 30px);
                left: -100px;
                bottom: 0;
            }
            .pageReload {
                bottom: 0;

                top: calc(50% - 30px);
                right: -100px;
                // .reloadIcon {
                //     fill: vars.$baseColor;
                //     transition: fill 150ms ease-in-out;
                //     &:hover,
                //     &:focus {
                //         fill: vars.$baseHoverColor;
                //     }
                // }
            }
        }
    }
}
